* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Archer Pro'; */
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.rating .star .checked {
    color: #B497E3;
}


.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    font: inherit;
    padding-bottom: 20px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    padding-top: 25px;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    padding: 25px;
}

.rowLeft,
.rowRight {
    width: 50%;
}

.rowRight {
    padding: 70px 30px 30px 30px;
}

.rowRight .left,
.rowRight .right {
    padding: 0px 15px;
}

.rowRight .left h3,
.rowRight .right h3 {
    padding-top: 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}

.rowRight .left p,
.rowRight .right p {
    font-style: italic;
    font-weight: 300;
}

.rowRight .left img,
.rowRight .right img {
    width: 100%;
}

.column a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column h3 {
    padding: 10px 15px;
    text-align: left;
}

nav .top {
    background: linear-gradient(254.83deg, #B497E3 10.36%, #EFBFE6 89.03%);
}

nav p {
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
}

.icons {
    margin-left: 450px;
}

.icons .search,
.icons .user,
.icons .bag {
    padding: 0px 10px;
}

li {
    list-style: none;
}

.navMain {
    justify-content: space-between;
    background-color: #8CD0E3;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

nav .navMain .links {
    justify-content: center;
    width: 60%;
    margin: auto;
}

.navMain li {
    padding: 25px 20px 0px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.navIcons {
    align-items: center;
    margin-left: 45%;
}

/* PRODUCT PAGE */

.productRow1 {
    padding: 50px;
    /* background-color: #B497E3; */
    justify-content: space-between;
}

.productRow1 .productLeft {
    width: 55%;
    position: relative;
}

.productRow1 .productLeft .miniImg {
    width: 40%;
}

.productRow1 .productLeft .miniImg img {
    width: 30%;
}

.productRow1 .productLeft .miniImg {
    width: 30%;
}

.productRow1 .productLeft .mainImg {
    width: 70%;
    padding: 0px 25px;
    position: absolute;
}

.productRow1 .productLeft .mainImg img {
    width: 100%;
}

.productRow1 .productRight {
    width: 40%;
    position: relative;

}

.productBtn {
    border: 2px solid #000;
    width: 100px;
    text-align: center;
    padding: 10px;
}

.addBtn {
    justify-content: space-between;
}

.productBtn .addBtn button {
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
    border: none;
}

.productBtn p {
    font-size: 25px;
    font-weight: 600;
}

.productRight h1 {
    padding-top: 15px;
    font-weight: 500;
}

.productRight p {
    color: #333;
    font-size: 13px;
    padding: 10px;
}

.productRight h3,
.productRight h6 {
    padding: 12px 0px;
}

.productRight h6 a {
    text-decoration: underline;
}

.productRight h3 {
    font-weight: 500;
}

.productRight .xtraBtn button {
    text-align: left;
    background-color: transparent;
    font-weight: 500;
    border: none;
    width: 440px;
    font-size: large;
}

.productRight .xtraBtn button span{
    float: right;
}

.productRight .key{
    padding: 10px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.productRight .results,
.productRight .what{
    padding: 10px 0px;
    border-top: 1px solid gray;
}
#resultContent p{
    height: 70px;
    color: transparent;
}
.productRight .price {
    border-top: none;
}

.productRight .desc {
    font-style: italic;
    padding-left: 0;
}

.productRight .bagBtn {
    justify-content: center;
    /* padding-top: 25px; */
}

.bagBtn button {
    border: none;
    background-color: #8CD0E3;
    font-size: 25px;
    padding: 10px 90px;
    color: #000;
    text-align: center;
}

.bagBtn button a {
    font-family: "Cera Stencil PRO";
}

.space {
    justify-content: space-between;
}

/* PRODUCT ROW 2 */

.productRow2 h1 {
    padding: 40px 0px;
    text-align: center;
    font-family: "Cera Stencil PRO";
    font-size: 35px;
}

.productRow2 .grid {
    display: grid;
    /* background-color: #0047BB; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    gap: 10px;
    padding-left: 25px;
    /* margin: auto; */
    text-align: center;
}

.productRow2 .grid img {
    width: 300px;
}

.productRow2 .grid h3 {
    text-align: center;
    width: 70%;
    font-weight: 500;
    margin: auto;
}

.productRow2 .grid p {
    padding: 10px 25px;
    font-size: 15px;
    font-style: italic;
}

.productRow2 .rating {
    width: 317px;
    margin: auto;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.productRow2 .rating .flex span {
    padding-left: 10px;
}

/* PRODUCT ROW 3 */

.productRow3 {
    padding-top: 25px;
}

.productRow3 .heading {
    text-align: center;
    font-size: 40px;
}

.starCenter {
    align-items: center;
    padding: 10px 0px;
}
.starCenter div p{
    padding-left: 15px;
}
.productRow3 .prodLeft{
    width: 25%;
    padding-left: 20px;
}
.productRow3 .prodLeft p{
    padding: 10px 0px;
    font-size: 13px;
    font-weight: 200;
}
.productRow3 .prodRight{
    width: 73%;
    margin: auto;
    padding: 8px;
    justify-content: space-between;
    align-items: baseline;
}
.productRow3 .prodRight h1{
    font-size: 35px;
}
.productRow3 .prodRight h2{
    font-size: 20px;
    padding-right: 10px;
}
.productRow3 .prodRight p{
    font-size: 16px;
}
.productRow3 .prodRight .col1{
    width: 45%;
    border-left: 1px solid grey;
    padding-left: 20px;
}
.productRow3 .prodRight .col2{
    width: 45%;
}
.productRow3 .prodRight .col2 p{
    padding: 140px 50px;
    font-size: 13px;
    background-color: #F7F7F7;
}
.fa {
    font-size: 25px;
}

.checked {
    color: #B497E3;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid gray;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 38%;
    height: 16px;
    background-color: #B497E3;
}

.bar-4 {
    width: 15%;
    height: 16px;
    background-color: #B497E3;
}

.bar-3 {
    width: 12%;
    height: 16px;
    background-color: #B497E3;
}

.bar-2 {
    width: 0%;
    height: 16px;
    background-color: #B497E3;
}
.bar-1 {
    width: 6%;
    height: 16px;
    background-color: #B497E3;
}

.productRow3 .hr{
    padding: 5px 0px;
}

/* FOOTER */

footer {
    background-color: #8CD0E3;
}

footer .left {
    padding: 35px;
    width: 90%;
}

footer .left h1 {
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding-bottom: 25px;
}

footer .top .col1,
footer .top .col2,
footer .top .col3,
footer .top .col4 {
    padding: 20px;
}

footer .top li {
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
}

footer .top li input {
    width: 350px;
    height: 50px;
    outline-style: none;
    padding: 0px 15px;
}

footer .top li button {
    padding: 15px 35px;
    background-color: #ffffff;
    border: 1px solid;
}

footer .top li p {
    font-size: 12px;
}

footer .top li p a {
    text-decoration: underline;
    color: #0047BB;
}

footer .bottom p {
    font-size: 14px;
    padding-left: 20px;
}

footer .right {
    align-content: center;
    width: 10%;
    background-color: #DFDDEB;
}

footer .right p {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    font-weight: 500;
}

footer .right .socials div {
    padding: 5px 60px;
}

footer .right .socials img {
    width: 100%;
}

footer .right .corp {
    padding: 5px 20px;
    margin-left: 20px;
}

footer .right .corp img {
    width: 90%;
}