* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.rating .star .checked {
    color: #B497E3;
}


.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    font: inherit;
    padding-bottom: 20px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    padding-top: 25px;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    padding: 25px;
}
.rowLeft,
.rowRight{
    width: 50%;
}
.rowRight{
    padding: 70px 30px 30px 30px;
}
.rowRight .left,
.rowRight .right{
    padding: 0px 15px;
}
.rowRight .left h3,
.rowRight .right h3{
    padding-top: 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}

.rowRight .left p,
.rowRight .right p{
    font-style: italic;
    font-weight: 300;
}

.rowRight .left img,
.rowRight .right img{
    width: 100%;
}
.column a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.column h3 {
    padding: 10px 15px;
    text-align: left;
}

nav .top {
    background: linear-gradient(254.83deg, #B497E3 10.36%, #EFBFE6 89.03%);
}

nav p {
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
}

.icons {
    margin-left: 450px;
}

.icons .search,
.icons .user,
.icons .bag {
    padding: 0px 10px;
}

li {
    list-style: none;
}

.navMain {
    justify-content: space-between;
    background-color: #8CD0E3;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

nav .navMain .links {
    justify-content: center;
    width: 60%;
    margin: auto;
}

.navMain li {
    padding: 25px 20px 0px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.navIcons {
    align-items: center;
    margin-left: 45%;
}

/* ROW 1 */

.row1 img {
    width: 100%;
}

/* ROW 2 */

.row2 h1 {
    padding: 40px;
    text-align: center;
    font-family: "Cera Stencil PRO";
    font-size: 35px;
}

.row2 .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin: auto;
    text-align: center;
}

.row2 .grid img {
    width: 320px;
}

.row2 h3 {
    font-family: "Cera Stencil PRO";
    padding-top: 15px;
}

.row2 p {
    padding: 10px 25px;
    font-size: 15px;
    font-style: italic;
}

/* ROW 3 */

.row3 {
    padding: 50px 0px;
}

.row3 .col1 {
    text-align: center;
    align-items: center;
    width: 50%;
    padding-top: 120px;
    background-image: url(../img/bliss-bright-background.png);
    background-repeat: no-repeat;
}

.row3 .col1 .inside {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 70px;
    width: 80%;
    margin: auto;
    height: 70%;
}

.row3 .col1 .inside h1 {
    font-family: "Cera Stencil PRO";
}

.row3 .col1 .inside p {
    font-size: 18px;
    line-height: 30px;
    padding: 15px;
}

.row3 .col1 .inside button {
    background-color: #FA9000;
    border: none;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 5px 25px;
    box-shadow: 0px 5px #FFD680;
}

.row3 .col2 {
    width: 50%;
}

.row3 .col2 img {
    width: 100%;
}

/* ROW 4 */

.row4 {
    padding-top: 50px;
}

.row4 .col1 {
    width: 50%;
}

.row4 .col1 img {
    width: 100%;
}

.row4 .col2 {
    text-align: center;
    align-items: center;
    width: 50%;
    padding-top: 150px;
    background-image: url(../img/bliss-block-party-bg.png);
    background-repeat: no-repeat;
}

.row4 .col2 h1 {
    font-family: "Cera Stencil PRO";
}

.row4 .col2 p {
    font-size: 18px;
    line-height: 30px;
    padding: 15px 150px;
}

.row4 .col2 button {
    background-color: #0047BB;
    border: none;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 5px 25px;
    color: #ffffff;
    box-shadow: 0px 5px #ffffff;
}

/* ROW 5 */

.row5 {
    padding: 50px 0px;
}

.row5 .col1 {
    align-items: center;
    width: 50%;
    padding-top: 150px;
}

.row5 .col1 h1 {
    padding-left: 120px;
    font-family: "Cera Stencil PRO";
}

.row5 .col1 p {
    font-size: 18px;
    line-height: 30px;
    padding: 15px 120px;
}

.row5 .col1 .btnRow5 {
    padding-left: 120px;
}

.row5 .col1 button {
    background-color: #0047BB;
    border: none;
    color: #ffffff;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 5px 25px;
    box-shadow: 0px 5px #FEDB00;
}

.row5 .col2 {
    width: 50%;
}

.row5 .col2 video {
    width: 95%;
    padding: 15px;
}

/* ROW 6 */

.row6 {
    padding-top: 50px;
}

.row6 .col1 {
    width: 50%;
}

.row6 .col1 img {
    width: 100%;
}

.row6 .col2 {
    text-align: center;
    align-items: center;
    width: 50%;
    padding-top: 150px;
    background-image: url(../img/bliss-creulty-free-bg.png);
    background-repeat: no-repeat;
}

.row6 .col2 h1 {
    font-family: "Cera Stencil PRO";
    padding: 0px 100px;
}

.row6 .col2 p {
    font-size: 18px;
    line-height: 30px;
    padding: 15px 150px;
}

.row6 .col2 button {
    background-color: #ffffff;
    border: none;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 5px 25px;
    color: #000;
    box-shadow: 0px 5px #8CD0E3;
}

/* ROW 7 */

.row7 h1 {
    padding: 40px 0px 10px 0;
    text-align: center;
    font-family: "Cera Stencil PRO";
    font-size: 35px;
}

.row7 .txtRow7 {
    padding-bottom: 45px;
    text-align: center;
    font-size: 18px;
}

.row7 .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin: auto;
    text-align: center;
}

.row7 .grid img {
    width: 320px;
}

.row7 h3 {
    font-family: "Cera Stencil PRO";
    padding-top: 15px;
}

.row7 .grid p {
    padding: 10px 25px;
    font-size: 15px;
    font-style: italic;
}

.row7 .rating {
    width: 320px;
    margin: auto;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.row7 .rating .flex span {
    padding-left: 10px;
}

.row7 .rating .star .checked {
    color: #B497E3;
}

.row7 .prod {
    margin-top: -35px;
}

aside {
    padding: 10px 0px;
    position: sticky;
    width: 117px;
    background-color: #000;
    color: #ffffff;
    font-size: 17px;
}

.row7 .btnRow7 {
    justify-content: center;
    padding-top: 50px;
}

.row7 button {
    background-color: #8CD0E3;
    border: none;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 5px 25px;
    color: #000;
    text-align: center;
}

/* ROW 8 */

.row8 {
    text-align: center;
    padding: 130px 100px 50px 100px;
}

.row8 h1 {
    font-family: "Cera Stencil PRO";
    font-size: 40px;
}

.row8 p {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 300;
}

/* ROW 9 */

.row9 {
    background: linear-gradient(254.83deg, #B497E3 10.36%, #EFBFE6 89.03%);
    padding: 10px;
}

.row9 .txtRow9 {
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.row9 p {
    font-weight: 600;
    font-size: 20px;
}

.row9 span {
    font-size: 35px;
    font-weight: 100;
}

/* FOOTER */

footer {
    background-color: #8CD0E3;
}

footer .left {
    padding: 35px;
    width: 90%;
}

footer .left h1 {
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding-bottom: 25px;
}

footer .top .col1,
footer .top .col2,
footer .top .col3,
footer .top .col4 {
    padding: 20px;
}

footer .top li {
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
}

footer .top li input {
    width: 350px;
    height: 50px;
    outline-style: none;
    padding: 0px 15px;
}

footer .top li button {
    padding: 15px 35px;
    background-color: #ffffff;
    border: 1px solid;
}

footer .top li p {
    font-size: 12px;
}

footer .top li p a {
    text-decoration: underline;
    color: #0047BB;
}

footer .bottom p {
    font-size: 14px;
    padding-left: 20px;
}

footer .right {
    align-content: center;
    width: 10%;
    background-color: #DFDDEB;
}

footer .right p {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    font-weight: 500;
}

footer .right .socials div {
    padding: 5px 60px;
}

footer .right .socials img {
    width: 100%;
}

footer .right .corp {
    padding: 5px 20px;
    margin-left: 20px;
}

footer .right .corp img {
    width: 90%;
}



/* BODY FIRMING */


.bodyRow1 h1{
    text-align: center;
    font-family: "Cera Stencil PRO";
    padding: 35px;
}

.bodyRow1 .drop {
    width: 250px;
    border: 1px solid gray;
    margin-left: 75%;
}

.bodyRow1 .dropdown {
    overflow: hidden;
    width: 100%;
}

.bodyRow1 .dropdown .dropbtn
{
    padding: 16px 15px;
    font-size: 16px;
    color: #000;
    font: inherit;
    background-color: inherit;
    margin: 0;
}

.bodyRow1 .filter .dropbtn
{
    padding: 16px 40px;
    font-size: 16px;
    border: none;
    border-left: 1px solid gray;
    color: #000;
    font: inherit;
    background-color: inherit;
    margin: 0;
}

.bodyRow1 .dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #ffffff;
    width: 15%;
    margin-left: 67%;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.bodyRow1 .dropdown:hover .dropdown-content {
    display: block;
}

.bodyRow1 .column {
    width: 100%;
    padding: 20px;
}
.bodyRow1 .rowLeft{
    width: 100%;
}

.bodyRow1 .column a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-style: italic;
    font-weight: 500;
}


/* BODY ROW 2 */

.bodyRow2 {
    padding: 70px 0px;
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    margin: auto;
    text-align: center;
}

.bodyRow2 img {
    width: 320px;
}

.bodyRow2 h3 {
    font-family: "Cera Stencil PRO";
    padding-top: 15px;
}

.bodyRow2 p {
    padding: 5px 25px;
    font-size: 15px;
}

.italic{
    padding: 0;
    font-style: italic;
}

.bodyRow2 .rating {
    width: 320px;
    margin: auto;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.bodyRow2 .rating .flex span {
    padding-left: 10px;
}

.bodyRow2 .rating .star .checked {
    color: #B497E3;
}

.bodyRow2 .btnbodyRow2 {
    justify-content: center;
    padding-top: 25px;
    position: relative;
}
.bodyRow2 button a{
    font-family: "Cera Stencil PRO";
}
.bodyRow2 button {
    opacity: 0;
    background-color: #8CD0E3;
    border: none;
    font-size: 25px;
    font-family: "Cera Stencil PRO";
    padding: 10px 0px;
    width: 80%;
    color: #000;
    text-align: center;
    transition: 0.5s;
}


.bodyRow2 .bodyCol1:hover button,
.bodyRow2 .bodyCol2:hover button{
    opacity: 1;
    /* visibility: visible; */
}


.loginRow1{
    padding: 65px 0px 135px 0px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.loginRow1 h1{
    padding: 10px;
    font-family: "Cera Stencil PRO";
}
.loginRow1 p{
    padding-top: 20px;
    font-size: 14px;
}
.loginRow1 div{
    padding-top: 15px;
}
.loginRow1 input{
    border: 1px solid gray;
    outline-style: none;
    height: 50px;
    padding-left: 15px;
    width: 400px;
}
.loginRow1 h4{
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: 400;
}

.loginRow1 button {
    background-color: #8CD0E3;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Cera Stencil PRO";
    padding: 10px 0px;
    width: 400px;
    color: #000;
    text-align: center;
    transition: 0.5s;
}

/* PRODUCT PAGE */

.productRow1{
    padding: 50px;
    background-color: #B497E3;
    justify-content: space-between;
}
.productRow1 .productLeft{
    width: 63%;
    background-color: #FA9000;
    justify-content: space-around;
}
.productRow1 .productLeft .miniImg{
    width: 40%;
}
.productRow1 .productLeft .miniImg img{
    width: 30%;
}
.productRow1 .productLeft .miniImg{
    width: 30%;
}
.productRow1 .productLeft .mainImg{
    padding-top: 30px;
    width: 70%
}
.productRow1 .productLeft .mainImg img{
    width: 100%;
}
.productRow1 .productRight{
    width: 35%;
    /* padding: 25px; */
    background-color: #FFD680;
}
.productBtn{
    border: 2px solid #000;
    width: 100px;
    text-align: center;
    padding: 10px;
}
.addBtn{
    justify-content: space-between;
}
.productBtn button{
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
    border: none;
}
.productBtn p{
    font-size: 25px;
    font-weight: 600;
}
